@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    --primary:#F4EBD9;
    --secondary:#023222;
    --tertiary:#131010;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary);
    color: var(--tertiary);
    overflow-x: hidden;
}
.modal-title{
    color: var(--secondary);
    font-weight: 1000;
}
.navbar{
    background-color: var(--secondary);
}

.navbar a,.navbar-toggler-icon{
    color: var(--primary) !important;
}
.navbar a:hover{
    color: var(--primary);
}
.navbar-toggle:focus{
    border: none !important;
    outline: none !important;
}
.res-title{
    color: var(--secondary);
    font-size: clamp(3rem,6vw,6rem);
}
.res-heading{
    font-size: clamp(2rem,5vw,3rem);
}
.res-sub{
    font-size: clamp(1rem,4vw,2rem) ;
}
.res-button-font{
    font-size: clamp(1rem,4vw,1.5rem);
}

#next,#prev{
    background-color: var(--secondary);
    color: var(--primary);
    outline: none;
    border: none;
    border-radius: 25%;
    backdrop-filter: blur(10px);
}
#next:hover, #prev:hover{
    opacity: 0.7;
}
#next{
    right: 0.5% !important;
}
#prev{
    left: 0.5%;
}
.btn-primary,.btn-secondary{
    color: var(--primary);
    border: none;
    outline: none;
}
.btn-primary{
    background-color: var(--secondary);
}
.btn-primary:hover{
    background-color:var(--tertiary) ;
}

.btn-secondary,.btn-secondary:hover{
    background-color: var(--tertiary);
}

.modal-content{
    background-color: var(--primary);
    color: var(--tertiary);
}
.validate:invalid:not(:placeholder-shown){
    border: 1px solid red;
    background-image: url('../images/invalid.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: calc(100% - 2px);
}
.validate:valid{
    border: 1px solid greenyellow;
    background-image: url('../images/valid.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 10px);
    transition: all ease-in-out 0.5s;
}
.check-box{
    background-color: var(--primary);
}

#features{
    background-color: var(--secondary);
    color: var(--primary);
    height: max-content;
}

.card img{
    aspect-ratio: 2/1;
}
.card{
    background-color: var(--primary);
    color: var(--tertiary);
    height: 22rem;
    max-height: 22rem;
}

.card-title{
    color: var(--secondary);
    font-weight: 700;
    font-size: clamp(1.5rem,1vw,2rem);
}
.portrait{
    border: 10px solid var(--secondary) !important;
    aspect-ratio: 1/1;
    width: 50%;
    height: clamp(17rem, 30vw, 400px);

}
.landscape{
    border: 10px solid var(--secondary);
    aspect-ratio: 1/1;
    width: 100%;
    height: clamp(17rem, 30vw, 400px);
}
