@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    --primary:#F4EBD9;
    --secondary:#023222;
    --tertiary:#131010;
    --loading-bar:#198654;
}
.pace .pace-progress {
    background: var(--loading-bar) !important;
}

.pace .pace-activity {
    border-top-color: var(--loading-bar) !important;
    border-left-color: var(--loading-bar) !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary);
    color: var(--tertiary);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.custom-popup{
    background-color: var(--primary) !important;
}
main{
    flex: 1 ;
}
.profile-image:hover{
    background-color: transparent;
}
.modal-title{
    color: var(--secondary);
    font-weight: 1000;
}
.navbar,.navbar .dropdown-menu{
    background-color: var(--secondary) !important;
}
.navbar a,.navbar-toggler-icon{
    color: var(--primary) !important;
}
.navbar a:hover{
    color: var(--primary);
}
.navbar .dropdown-menu,#logout:hover{
    background-color: transparent;
}
#logout{
    cursor: pointer;
}
.navbar .dropdown-menu .dropdown-item{
    transition: all .4s ease-out;
}
.navbar .dropdown-menu .dropdown-item:hover{
    background-color:#198654 ;
}
.navbar-toggle:focus{
    border: none !important;
    outline: none !important;
}
.no-togggle-icon::after {
    display: none !important;
}
.res-title{
    color: var(--secondary);
    font-size: clamp(3rem,6vw,6rem);
}
.res-heading{
    font-size: clamp(2rem,5vw,3rem);
}
.res-sub{
    font-size: clamp(1rem,4vw,2rem) ;
}
.res-button-font{
    font-size: clamp(1rem,4vw,1.5rem);
}
footer{
    background-color: var(--secondary);
    color: var(--primary);
}
footer a{
    text-decoration: none;
    color: var(--primary);
}
#next,#prev{
    background-color: var(--secondary);
    color: var(--primary);
    outline: none;
    border: 1px solid var(--tertiary);
    border-radius: 25%;
    backdrop-filter: blur(10px);
}
#next:hover, #prev:hover{
    opacity: 0.7;
}
#next{
    right: 0.5% !important;
}
#prev{
    left: 0.5%;
}
.btn-primary,.btn-secondary{
    color: var(--primary);
    border: none;
    outline: none;
}
.btn-primary{
    background-color: var(--secondary);
}
.btn-primary:hover{
    background-color:var(--tertiary) ;
}
.btn-primary:active{
    background-color: var(--secondary) !important;
}
.btn-secondary,.btn-secondary:hover{
    background-color: var(--tertiary);
}

.modal-content{
    background-color: var(--primary);
    color: var(--tertiary);
}
.validate:invalid:not(:placeholder-shown){
    border: 1px solid red;
    background-image: url('../images/invalid.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: calc(100% - 2px);
}
.validate:valid:not(:placeholder-shown){
    border: 1px solid greenyellow;
    background-image: url('../images/valid.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 10px);
    transition: all ease-in-out 0.5s;
}
.check-box{
    background-color: var(--primary);
}

#features{
    background-color: var(--secondary);
    color: var(--primary);
    height: max-content;
}

.card img{
    aspect-ratio: 2/1;
}
.card{
    background-color: var(--primary);
    color: var(--tertiary);
    height: 21rem;
}

.card-title{
    color: var(--secondary);
    font-weight: 700;
    font-size: clamp(1.5rem,1vw,2rem);
}
.portrait-img{
    border: 10px solid var(--secondary) !important;
    aspect-ratio: 1/1;
    width: 50%;
    height:400px;

}
.landscape-img{
    border: 10px solid var(--secondary);
    aspect-ratio: 1/1;
    width: 100%;
    height: 400px;
}
.dt-length{
    display: flex;
    gap: 5px;
    align-items: center;
}
th,td{
    background-color:transparent !important;
    vertical-align: middle;
}

.product-card {
    position: relative;
    height: 26rem !important;
    max-height: 27rem !important ;
    width: 18rem;
    border: 1px solid #ccc !important;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product-card .card-body{
    opacity: 0;
    transition: all 0.5s linear;
}
.product-card .card-img-top {
    background-color: var(--secondary);
    height: 150px;
    transform: scale(2.7);
    transform-origin: top;
    max-height: 400px;
    object-fit: contain;
    transition: all 0.2s ease-in;
}
.product-card:hover .image-container>.card-img-top{
    transform: scaleY(1);
}
.product-card:hover .image-container+.card-body{
    opacity:1;
    transition: 1s;
}
.product-card .card-title {
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: bold;
}

.product-card .card-text {
    font-size: clamp(0.75rem, 4vw, 0.9rem);
    color: #666;
}

.product-card .card-price {
    font-size: clamp(1rem, 4.5vw, 1.1rem);
    font-weight: bold;
}
.seller{
    font-size: clamp(0.75rem,4vw,1rem) !important;
}
.magnifier {
    display: none;
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    width: 6rem;
    height:6rem;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 200%;
    z-index: 10;
    top: 0;
    left: 0;
}
.browse{
    font-size: clamp(0.5rem, 4vw, 1rem) !important;
}
.blog-card{
    height: max-content !important;
}
.order-card{
    width: 23rem !important;
    height: max-content;
}
.portfolio{
    padding: 1rem;
    columns: 9rem;
    column-gap: 0.3rem;
}
.portfolio img {
    width: 100%;
    object-fit: contain;
    margin-top: .3rem;
    break-inside: avoid;
    transition: all 0.7s ease-in;
}

.portfolio a{
    display: none;
    transition: all 0.4s ease-in;
}
.portfolio a:hover{
    display: block;
}
.portfolio img:hover + a{
    display: block;
}

#searchartist-table th{
    display: none !important;
    background-color: red !important;
}
@media (min-width: 601px) {
    .landscape,
    .portrait {
        height: 25rem;
    }
}

@media (max-width: 600px) {
    .landscape,
    .portrait {
        height: 15rem;
    }
    .product-card{
        height: 26rem !important ;
    }
}

@media (max-width: 320px) {
    .product-card {
        height: 25.1rem !important;
    }
}

